# Puerto del servidor
PORT= 8080

# Cadena de conexion a MongoDb Atlas
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.nfejxvm.mongodb.net/<nombre_db>

# Secreto para firmar los JWT
JWT_SECRET=1234

# Secreto para firmar las sessiones de express-session
SESSION_SECRET=1234

# Entorno de ejecuccion
NODE_ENV=develpment

# Credenciales de OAuth
GITHUB_CLIENT_ID=Ov23liKKhSvdNT6DHtJh
GITHUB_CLIENT_SECRET=052604e5d2cab5ba721eb6fc418ddbf2c8a35895
GITHUB_CALLBACK_URL=http://localhost:8080/api/auth/github/callback